.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 100px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-divider-vertical {
    height: 100%;
    width: 0px !important;
    position: inherit !important;
}

.user {
    margin-right: 5px;
}