.google-login-btn {
    background-image: url('src/assets/img/google-logo.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10%;
    padding-left: 10%;
}

mat-card {
    margin: 10% auto;
    width: 50%;
    background-color: #F5F5F5;
}

mat-form-field {
    width: 100%;
}

.actions {
    margin-left: 2px;
}

.logo-login {
    height: 200px;
    margin-left: 50px;
}

.example-form {
    margin-left: 50px;
    margin-right: 40px;
}

.title-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mat-divider-vertical {
    height: 100%;
    width: 9px !important;
    position: inherit !important;
}